<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create | Update product</title>
</head>
<body>
    <h1 th:if="${type != null}" th:text="${type.equalsIgnoreCase('edit') ? 'Update product' : 'Create' }" >Create | Update product</h1>
    <form th:action="@{'/products/save'}" method="post" th:object="${selectedOne}" >
        <span th:if="${#fields.hasGlobalErrors()}" th:text="${#fields.globalErrors()[0]}" style="color: red" ></span>
        <p>
            <label for="id">Product ID</label>
            <input type="text" th:field="*{id}" id="id" />
            <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" style="color: red" ></span>
            <span th:if="${#fields.hasGlobalErrors()}" th:text="${#fields.globalErrors()[1]}" style="color: red" ></span>
        </p>
        <p>
            <label for="name">Product Name</label>
            <input type="text" th:field="*{name}" id="name" />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red" ></span>
        </p>
        <p>
            <label for="quantity">Product Quantity</label>
            <input type="number" th:field="*{quantity}" id="quantity" />
            <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" style="color: red" ></span>
        </p>
        <p>
            <label for="price">Product Price</label>
            <input type="number" th:field="*{price}" id="price" />
            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red" ></span>
        </p>
        <p>
            <label for="cate">Product Category</label>
            <select th:field="*{cate}" id="cate">
                <option th:each="x : ${cates}"
                     th:value="${x.id}"
                        th:text="${x.name}"
                     th:selected="${selectedOne.cate !=null and x.id == selectedOne.cate.id}">???
                </option>
            </select>
        </p>
        <input th:if="${type != null}" type="hidden" name="type" th:value="${type}" >
        <button type="submit">Save</button>
    </form>
</body>
</html>