<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to the NT Coffee</title>
</head>
<body>
<h1>Login to the NT Coffee</h1>
<form method="post" action="/login">
    <div style="text-align: center">
        <label for="username">Username: </label>
        <input type="text" name="user" id="username">
    </div>
    <div style="text-align: center">
        <label for="password">Password: </label>
        <input type="password" name="pass" id="password">
    </div>
    <div style="text-align: center">
        <label>Password: </label>
        <input type="submit" value="Đăng nhập">
    </div>


</form>

<footer style="text-align: center">&#169; 2025 Tusry</footer>

</body>
</html>