<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Product Form</h1>

    <form th:action="@{/products/save}" method="post">

        <!--show  cho 1 sản phẩm để chỉnh sửa-->
        <!--mình - trang này sẽ nhận object từ Product từ ai đó gửi tới và edit và create-->
        <p>
            <label for="productId">Id</label>
            <input type="text" id="productId" name="id" th:value="${product.id}">
        </p>

        <!-- th:value dùng để didenf vaflue có ở đâu đó vào ô nhap
            th:text in ra man hinh
        -->
        <p>
            <label for="productName">Name</label>
            <input type="text" name="name" id="productName" th:value="${product.name}">
        </p>
        <p>
            <label>Price</label>
            <input type="number" name="price" id="productPrice" th:value="${product.price}">
        </p>
        <p><input type="submit" name="Submit"></p>
    </form>
</body>
</html>