<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create | Update coffee product</title>
</head>
<body>
<h1>Create | Update coffee product</h1>
<!-- TEST THỬ THÔNG TIN ĐC LOAD ĐÚN KO -->
<h2 th:text="${minzy.name}">???inner text</h2>

<!--CẦN 1 CÁI FORM, ĐỂ NHẤN NÚT SAVE THÌ LƯU TOÀN BỘ INFO SẢN PHẨM TRONG Ô NHẬP-->
<!--FORM VÀ Ô NHẬP LIỆU -->

<!--<form th:action="@{/update}" th:object="${product}" method="post">-->

<form th:action="@{/products/edit}" method="post">
    <p>
        <label for="id">Product id:</label>
        <input type="text" name="id" th:value="${minzy.id}" id="id"/>
    </p>

    <p>
        <label for="name">Product name:</label>
        <input type="text" name="name" th:value="${minzy.name}" id="name"/>
    </p>

    <p>
        <label for="price">Product price:</label>
        <input type="text" name="price" th:value="${minzy.price}" id="price"/>
    </p>

    <p>
        <button type="submit">Save</button>
    </p>
</form>



</body>
</html>