<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The list of Ngọc Trinh products</title>
</head>
<body>
<h1>Cafe Ngọc Trinh System - Product list</h1>
<h2 th:text="${msg}">Chào ngày mới...</h2>

<h3>The list of Ngọc Trinh coffee products</h3>

<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions (Updatee|Delete)</th>
    </thead>
    <tbody>
        <tr th:each="x : ${minzy}" >
            <td th:text="${x.id}">???</td>
            <td th:text="${x.name}">???</td>
            <td th:text="${x.price}">???</td>
            <td>
                <a th:href="@{'/products/edit/' + ${x.id}}">Update</a> |
                <a th:href="@{'/products/delete/' + ${x.id}}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>