<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>List of Product</h1>
    <a th:href="@{'/products/create'}">New Product</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${products}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.quantity}"></td>
                <td th:text="${p.price}"></td>
                <td th:text="${p.category.name}"></td>
                <td><a th:href="@{'/products/edit/'+ ${p.id}}">Edit</a></td>
                <td><a th:href="@{'/products/delete/'+${p.id}}">Delete</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>